:root {
    --primario: #00FF00;
    --secundario: #2b2b2b;
    --terciario: #044d04;
    --verde-obscuro: #048c0b;
    --Gris: rgb(211, 211, 211);
    --Gris-Texto: #505050;
    --fondo-tarjeta: 0, 128, 0;
    --negro: #000000;
    --blanco: #ffffff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
    /*hace que 1rem sea igual a 10px*/
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    line-height: 2.5rem;
    box-sizing: border-box;
    color: var(--Gris-Texto);
    overflow-x: hidden;
}

section {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
}

section .container{
    margin-top: 6rem;
}

h1 {
    font-size: 7rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

h2 {
    font-size: 4rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 2rem;
    padding: 1rem;
}

h2, h3 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: .2rem;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--negro);
    text-align: center;
}

/******************************************** header *****************************************/
header {
    min-height: 100vh;
}

nav {
    background-color: var(--secundario);
}

header nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

header nav ul.menu-nav {
    display: flex;
    padding: 1rem;
}

header nav ul.menu-nav li a {
    margin: 0 1rem;
    padding: 1rem;
    width: 100px;
    position: relative;
    display: inline-block;
    min-width: 100px;
    width: 100%;
    color: #ffffff;
}

header nav a::after {
    content: "";
    height: 10%;
    width: 100%;
    left: 0;
    bottom: 0%;
    position: absolute;
    opacity: 0.9;
    transform-origin: center;
    /* Se define el punto de transformacion desde el centro */
    transform: scaleX(0);
    /* ancho de linea al inicio cero */
    transition: transform 0.5s ease-in-out;
    background: linear-gradient(to right, var(--primario) 50%, var(--terciario) 50%);
}

header nav a:hover {
    transition: box-shadow 0.5s ease;
    box-shadow: 0px 2px 10px 0px var(--terciario), 0px 10px 15px -3px rgba(255, 255, 255, 0.1);
}

header nav a:hover::after {
    transform: scaleX(1);
    width: 100%;
}

/* elemento creado dinamicamente con js */
.nav-fixed {
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav .buttom-menu {
    display: none;
}

header nav ul.menu-nav.active {
    left: 0%;
}

header .header-centro {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 6.5rem);
    /* min-height: 100%; */
    background-color: var(--terciario);
    padding: 0 4rem;
}

.header-centro .imagen {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    width: 100%;
    max-width: 38%;
}

.header-centro .imagen img {
    border-radius: 80% 60%;
    object-fit: cover;
    min-width: 250px;
}

.header-centro .contenido {
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    /* ocupa el espacio restante */
    height: 37.5rem;
    width: 100%;
    min-width: 350px;
}

.header-centro .contenido h1 {
    color: var(--primario);
    transition: font-size 0.5s ease;
}

.header-centro .contenido .text-animacion {
    display: flex;
}

.header-centro .contenido p {
    position: relative;
    letter-spacing: 1rem;
    font-size: 3rem;
    padding-right: 2.6rem;
}

.header-centro .contenido .text-animacion span {
    box-sizing: border-box;
    position: absolute;
    border-left: 2rem solid var(--primario);
    background-color: var(--terciario);
    right: 0;
    animation: escribir 4s steps(25) infinite alternate;
}

@keyframes escribir {
    from {
        width: 100%
    }

    to {
        width: 0
    }
}

.header-centro .contenido .botones {
    display: inline-block;
    background-color: var(--secundario);
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    width: 70%;
}

.header-centro .contenido .botones a {
    display: block;
    color: #ffffff;
    font-size: 2.3rem;
    text-decoration: none;
}

.contenido .botones:hover {
    background-color: var(--verde-obscuro);
    color: #ffffff;
}

.bit {
    position: absolute;
    font-size: 12px;
    color: var(--primario);
    opacity: 1;
}


/*************************************** main-tecnologia *************************************/
#tecnologia .container {
    width: 100%;
    max-height: 100%;
}

#tecnologia .tecnologia-manejada {
    display: grid;
    max-height: 100%;
    max-width: inherit;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
}

#tecnologia .tecnologia-manejada .card {
    display: grid;
    padding: 1rem;
    text-align: justify;
    grid-template-columns: 20% 2fr;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0rem 1px 10px -2px var(--verde-obscuro);
}

/*************************************** main-portafolio *************************************/

#portafolio .container .proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    grid-gap: 1rem;
}

.proyectos .card {
    position: relative;
    overflow: hidden;
}

.proyectos .card:hover {
    box-shadow: 0rem 20px 30px -15px rgba(var(--fondo-tarjeta));
}

.proyectos .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.proyectos .card:hover img {
    transform: scale(1.1);
}

.proyectos .card .card-body {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rgba(3, 59, 10, 0.87);
    color: var(--blanco);
    transition: opacity 0.3s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#portafolio .card:hover .card-body {
    opacity: 1;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #45a049;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #227426;
}


/*************************************** main-sobre-mi ***************************************/
#sobremi {
    text-align: center;
}

#sobremi .estudios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
}

#sobremi .estudios .timeline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 2px solid var(--verde-obscuro);
    margin-left: 3rem;
}

#sobremi .estudios .timeline-item {
    margin-bottom: 2rem;
    position: relative;
    width: 100%;
}

#sobremi .estudios .timeline-date {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    left: -2.2rem;
}

#sobremi .estudios .timeline-content {
    box-shadow: 0rem 1px 10px -2px var(--verde-obscuro);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 2rem;
}

.timeline-item:first-child .timeline-date {
    background-color: #f39c12;
}

.timeline-item:nth-child(2) .timeline-date {
    background-color: #2980b9;
}

.timeline-item:nth-child(3) .timeline-date {
    background-color: #e74c3c;
}

.timeline-item:nth-child(4) .timeline-date {
    background-color: #3c4de7;
}

.timeline-item:last-child .timeline-date {
    background-color: #8e44ad;
}

#sobremi .estudios .pasatiempos {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

#sobremi .estudios .pasatiempos .actividades {
    padding-top: 1rem;
    box-shadow: 0rem 1px 10px -2px var(--verde-obscuro);
}

#sobremi .estudios .pasatiempos .actividades ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}

#sobremi .estudios .pasatiempos .actividades ul li{
    display: flex;
    justify-content: center;
}

#sobremi .estudios .pasatiempos .libros {
    margin-top: 2rem;
    padding-top: 2rem;
    box-shadow: 0rem 1px 10px -2px var(--verde-obscuro);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.estudios .pasatiempos .libros ul {
    text-align: justify;
    padding: 2rem;
    line-height: 3rem;
}

.pasatiempos .libros ul li span{
    font-weight: bold;
}

.estudios .pasatiempos .libros .redes ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: end;
}

.estudios .pasatiempos .libros .redes{
    flex-grow: 1;
}

.estudios .pasatiempos .libros .redes ul li {
    margin-left: 3rem;
}

/*************************************** main-contacto ***************************************/
#contacto .container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#contacto .container .contactame{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;;
}
#contacto .contactame form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60%;
}

#contacto .contactame form .inputBox {
    min-width: 100%;
    position: relative;
    margin-bottom: 3rem;
}


#contacto .contactame form .inputBox input {
    min-width: 100%;
    padding: 1rem;
    border: 2px solid var(--terciario);
    border-radius: 0.5rem;
    outline: none;
    height: 100%;
    font-size: 1.5rem;
}
#contacto .contactame form .inputBox span {
    position: absolute;
    left: 0;
    padding: 1rem;
    pointer-events: none;
    height: 100%;
    transition: 0.5s;
    border-radius: 0.5rem;
    color: var(--secundario);
}

#contacto .contactame form textarea {
    min-width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    outline: none;
    border: 2px solid var(--terciario);
}

#contacto .contactame form .inputBox input[type="text"]:valid~span,
#contacto .contactame form .inputBox input[type="text"]:focus~span,
#contacto .contactame form .inputBox textarea:focus~span,
#contacto .contactame form .inputBox textarea:not(:placeholder-shown):valid~span {
    color: var(--blanco);
    transform: translateX(1rem) translateY(-2rem);
    font-size: 1rem;
    padding: 0 1rem;
    height: 60%;
    background-color: var(--terciario);
}

#contacto .contactame form .inputBox textarea:focus~span,
#contacto .contactame form .inputBox textarea:not(:placeholder-shown):valid~span {
    height: 2.5rem;
}

#contacto .contactame form .inputBox input[type="text"]:valid,
#contacto .contactame form .inputBox input[type="text"]:focus,
#contacto .contactame form .inputBox textarea:focus,
#contacto .contactame form .inputBox textarea:not(:placeholder-shown):valid {
    border: 2px solid var(--verde-obscuro);
}

#contacto .contactame form button {
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--verde-obscuro);
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    min-width: 100%;
    margin-bottom: 4rem;
}

#contacto .contactame form button:hover {
    background-color: var(--terciario);
}

#contacto .container .datos-personales {
    width: 60%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#contacto .container .datos-personales span {
    color: var(--negro);
    font-weight: bolder;
}

#contacto .container .datos-personales div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;
    box-shadow: 0rem 1px 10px -2px #006600;
    background-color: var(--blanco);
    margin-bottom: 1rem;
}
/*====================================== Media Querys ========================================*/

@media (max-width: 1220px) {
    nav .container {
        padding: 0 5rem;
        height: 6.5rem;
        /* altura del navegador */
    }

    nav .buttom-menu {
        display: flex;
        z-index: 2;
        cursor: pointer;
    }

    header nav ul.menu-nav {
        background-color: var(--secundario);
        position: absolute;
        top: 0;
        left: 100%;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        flex-direction: column;
        transition: 1s ease left;
        padding-top: 6rem;
        justify-content: start;
    }

    header nav ul.menu-nav li a {
        margin: 0;
        padding: 2rem;
    }

    header nav ul li a:hover {
        box-shadow: none;
        transition: .5s ease font-size;
    }


    header .header-centro {
        align-items: start;
        padding: 5rem;
    }

    .header-centro .contenido h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 3.5rem
    }

    h3 {
        font-size: 1.8rem
    }
}

@media(max-width: 992px) {
    header .header-centro {
        flex-direction: column;
        align-items: center;
    }

    .header-centro .contenido .botones a {
        font-size: 1.8rem;
    }

    #tecnologia .tecnologia-manejada {
        grid-template-columns: 1fr 1fr;
    }

    #tecnologia .tecnologia-manejada .card {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(50px, 7%) minmax(0, 93%);
    }

    #tecnologia .tecnologia-manejada .card .card-image {
        display: flex;
        justify-content: center;
    }

    #contacto .contactame form,#contacto .container .datos-personales {
        min-width: 80%;
    }
}

@media(max-width: 768px) {
    header .header-centro .contenido h1 {
        font-size: 4.2rem;
    }

    .header-centro .contenido p {
        font-size: 2rem;
    }

    h2 {
        font-size: 3rem
    }

    #tecnologia .tecnologia-manejada .card {
        grid-template-columns: 1fr 2fr;
        padding: 2rem;
    }

    #tecnologia .tecnologia-manejada {
        grid-template-columns: 1fr;
    }

    #portafolio .container .proyectos {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
    #sobremi .estudios {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-column-gap: 2rem;
    }

    #contacto .contactame form,#contacto .container .datos-personales {
        min-width: 100%;
    }
}

@media(max-width: 481px) {
    header .header-centro .contenido h1 {
        font-size: 2.8rem;
    }

    .header-centro .contenido p {
        font-size: 1rem;
    }

    .header-centro .contenido .botones a {
        font-size: 1.6rem;
    }

    #tecnologia .tecnologia-manejada .card {
        grid-template-columns: 1fr;
    }
    body {
        overflow-x: hidden;
    }
}