:root{
    --bs-red: #ea000b;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}
.contenedor{
    /*no es lo mismo max-width y width*/
    max-width: 100rem;
    margin: 0 auto;
}

h1, h2, h3{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 3.5rem;
}
h2{
    font-size: 3.1rem;
}
h3{
    font-size: 2.4rem;
}
h1 span{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

/* en un dispositivo mas grande */
@media (min-width: 768px){
    h1{
        font-size: 3.7rem;
    }
    h2{
        font-size: 3.5rem;
    }
    h3{
        font-size: 2.2rem;
    }
}

/** rescribir colores **/
.text-primary{
    color: var(--bs-red)!important;
}

.hero-mask{
    height: 10rem;
}

@media(min-width: 768px){
    .hero-mask{
        height: 20rem;
    }
    .card img{
        height: 20rem;
        object-fit: cover;
    }
}

.producto-destacado-info{
    background: #000000b7;

}

@media (min-width:768px){
    .producto-destacado img, .cat-ima{
        height: 23rem;
        width: 100%;
        object-fit: cover;/*no pierdas la proporion*/
    }
}

.hero h2{
    font-family: 'Dancing Script', cursive;
}

.categoria img{
    transition-property: transform;
    transition-duration: 200ms;
}

.categoria img:hover{
    transform: scale(1.8);
}

.marca-registrada{
    background-color: #252424b0;
    margin-bottom: 0;
    padding: 2rem;
}

footer{
    margin-top: 10rem;
}

#navegacion nav a{
    padding: 1rem 4rem;
}

#navegacion a {
    text-decoration: none;
    color: #010101;
    position: relative;
}

#navegacion a::after{
    content: "";
    height: 5%;
    width: 100%;
    left: 0%;
    top: 100%;
    position: absolute;
    opacity: 0.9;
    transition: .3s;
}

/* .activo::after{
    background-color: var(--bs-red);
} */

#navegacion a:hover::after{
    background-color: var(--bs-red);
}

@media (max-width:767px){
    #navegacion a::after{
        content: "";
        height: 0;
        width: 100%;
        left: 0%;
        top: 100%;
        position: absolute;
    }

    #navegacion a:hover{
        background-color: lightblue;
        transition: .5s;
    }
}

/** Nosotros */
.nosotros{
    margin-top: 5rem;
}
.nosotros .text-nosotros{
    padding: 0 4rem;
}
.nosotros .texto{
    text-align: justify;
}

.servicios{
    color: rgb(78, 78, 78);
    margin-top: 10rem;
    margin-bottom: 5rem;
}

@media (max-width:767px){
    .servicios{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .servicios h1{
        text-align: center;
    }

    footer{
        margin-top: 0;
    }
}

/******** tienda **********/
.select-categoria select{
    font-size: 1.5rem;
    border: 1px solid gray;
}

.tienda-productos img{
    height: 10rem;
    object-fit: cover;/*no pierdas la proporion*/
}

@media (min-width:767px){
    .tienda-productos img{
        height: 15rem;
        object-fit: cover;/*no pierdas la proporion*/
    }
}

/********* blog ***********/
.blog-img img{
    width: 100%;
}

.blog-text .datos{
    font-size: 1.3rem;
}

.blog-text .leer-mas{
    font-size: 1.4rem;
}

blockquote {
    font-weight: bold;
    line-height: 2;
}

/************ contacto map *********/
#map{
    height: 480px;
}

.detalle-desc p p:not(span){
    padding-left: 1rem;
    font-weight: bolder;
}

.detalle-img{
    width: 30rem;
}

/* .row{
    background-color: red;
} */

.contenido{
    display: flex;
}

.contenido .elemento:last-child{
    flex-grow: 1;
}